<!DOCTYPE html>
<html>
  <head>
    <%- include('../static/partials/head.ejs') -%>
  </head>
  <body>
    <%- include('../static/partials/navbar.ejs') -%>
     <main class="container">
       <%- include('../static/partials/messages.ejs') -%>
       <h1><%= `Hello, ${user.name}!` %></h1>
       <h3><%= `Your current account type: ${user.role}` %></h3>
      <hr>
      <h2>Here are your wikis:</h2>
      <hr>


      <% if (currentUser.isAdmin() || currentUser.isPremium() ) { %>
      <form style="display:initial" action="/users/<%= currentUser.id %>/downgrade" method="post">
        <button type="submit" class="btn btn-danger">Downgrade to Standard</button>
      </form>
      <% } %> 
      <% if(currentUser.role === 0) { %>
      <form style="display:initial" action="/users/payments" method="get">
        <button type="submit" class="btn btn-primary">Update to Premium</button>
      </form>
      <% } %>
    </main>
     <%- include('../static/partials/baseScripts.ejs') -%>
   </body>
</html> 