<!DOCTYPE html>
<html>
  <head>
    <%- include('../static/partials/head.ejs') -%>
  </head>
  <body>
    <%- include('../static/partials/navbar.ejs') -%>
     <main class="container">
       <%- include('../static/partials/messages.ejs') -%>
       <h1><%= `Hello, ${currentUser.name}!` %></h1>
       <h3><%= `Your current account type: ${currentUser.role}` %></h3>
      <hr>

      <h2>Your recent wikis:</h2>
      <hr>

      <ul class="list-unstyled">
        <% if(user.wikis) { %>
          <% user.wikis.forEach((wiki) => { %>
            <li>
              <a href="/wikis/<%= wiki.id %>">
                <%= wiki.title %>
              </a>
            </li>
          <% }) %>
        <% } %>
      </ul>
      <hr>

      <% if (currentUser.isAdmin() || currentUser.isPremium() ) { %>
      <form style="display:initial" action="/users/<%= currentUser.id %>/downgrade" method="post">
        <button type="submit" class="btn btn-danger">Downgrade to Standard</button>
        <small>By downgrading to standard you will be causing all your private wikis to become public.</small>
      </form>
      <% } %> 
      <% if(currentUser.role === 0) { %>
      <form style="display:initial" action="/users/payments" method="get">
        <button type="submit" class="btn btn-primary">Update to Premium</button>
      </form>
      <% } %>
    </main>
     <%- include('../static/partials/baseScripts.ejs') -%>
   </body>
</html> 